:root {
  --dark-blue: rgb(16, 16, 25);
  --medium-blue: rgb(22, 28, 36);
  --light-blue: rgb(27, 43, 64);
  --grey: rgb(104, 119, 138);
  --dark-green: rgb(31, 53, 31);
  --light-green: rgb(23, 164, 23);
  --dark-red: rgb(54, 24, 24);
  --light-red: rgb(192, 28, 28);
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", monospace;
  color: white;
}
body {
  margin: 0;
  padding-bottom: 3rem;
  background-color: var(--dark-blue);
}
/* Chatroom page styles */
#chatroomNavbar {
  background-color: var(--medium-blue);
  border-bottom: 1px solid var(--light-blue);
  box-shadow: 0px 3px 3px var(--light-blue);
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  padding: 2px;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: 0.2s;
  font-weight: 400;
}
#chatroomNavbar:hover {
  background-color: var(--light-blue);
}
#listIcon {
  background-image: url("/icons/user-list.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 43px;
  height: 100%;
  cursor: pointer;
  transition: 0.2s;
}
#listIcon:hover {
  height: 110%;
}
#loggedIn {
  flex-grow: 2;
  color: var(--grey);
}
#youAreLoggedInAs {
  color: var(--grey);
  text-decoration: underline;
}
#logout {
  background-image: url("/icons/logout.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 43px;
  height: 100%;
  cursor: pointer;
  transition: 0.2s;
}
#logout:hover {
  height: 110%;
}
.userlist {
  position: fixed;
  margin: 0;
  top: 40px;
  left: 0;
  background-color: var(--medium-blue);
  box-shadow: 3px 3px 3px var(--light-blue);
  width: clamp(150px, 25%, 200px);
  list-style-type: none;
  opacity: 0.7;
  transition: 0.3s;
  height: 0;
  overflow: hidden;
  padding: 0 10px;
}
.appear {
  height: 30%;
  overflow: auto;
  padding: 10px;
}
.userlist li:first-child {
  font-weight: 300;
  border-bottom: 1px solid var(--grey);
  margin-bottom: 5px;
}
.userlist li:not(:first-child) {
  font-weight: 200;
  background-image: url("/icons/bullet.svg");
  background-repeat: no-repeat;
  background-position: center right;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  height: calc(100vh - 40px - 70px); /* (100vh - loginNavbar's height and chatForm's height) */
  overflow: auto;
}
.username {
  color: var(--grey);
  font-weight: 400;
}
.ownMessage {
  background-color: var(--medium-blue);
  padding: 0.4rem 1rem;
  margin: 0.3rem;
  font-weight: 200;
  word-break: break-all;
}
.othersMessage {
  background-color: var(--light-blue);
  text-align: right;
  padding: 0.4rem 1rem;
  margin: 0.3rem;
  font-weight: 200;
  word-break: break-all;
}
.joinedAndLeftMessage {
  text-align: center;
  width: 50%;
  padding: 0.4rem 1rem;
  margin: 0.3rem auto;
  font-weight: 200;
}
#userJoinedMessage {
  color: var(--light-green);
  background-color: var(--dark-green);
}
#userLeftMessage {
  color: var(--light-red);
  background-color: var(--dark-red);
}
time {
  display: block;
  text-align: right;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: var(--grey);
  font-weight: 100;
}
#chatForm {
  padding: 0.5rem 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 70px;
  column-gap: 20px;
  background-color: var(--dark-blue);
  box-shadow: 0 -3px 3px var(--grey);
}
#chatInput {
  font-size: 1.3rem;
  font-weight: 200;
  padding-left: 10px;
  border: none;
  background-color: var(--medium-blue);
  flex-grow: 1;
}
#chatInput:focus {
  outline: none;
}
#sendButton {
  background-color: var(--light-blue);
  border: none;
  width: 20%;
  font-size: 1.3rem;
  font-weight: 200;
  outline: none;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
}
#sendButton:hover {
  opacity: 0.8;
}

/* Login page styles */
#invalidUsernameOrPassword {
  color: var(--light-red);
  font-weight: 300;
}
#usernameTaken {
  color: var(--light-red);
  font-weight: 300;
}
#accountCreated {
  color: var(--light-green);
  font-weight: 300;
}
#loginBoxContainer {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: var(--dark-blue);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#loginBox {
  background-image: linear-gradient(180deg, var(--dark-blue), var(--medium-blue));
  height: 50%;
  width: 50%;
  min-height: min-content;
  min-width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: auto;
}
#secretchat {
  color: var(--grey);
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0;
}
.loginInput {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  display: block;
  font-size: 1rem;
  font-weight: 200;
  margin: 0 auto 1rem auto;
  height: 2.5rem;
}
.loginInput:focus {
  outline: none;
}
.loginFormStyle {
  font-size: 1rem;
}
.loginButton {
  min-width: 70%;
  cursor: pointer;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 200;
  background-color: var(--light-blue);
  opacity: 1;
  border: none;
  transition: 0.3s;
}
.loginButton:hover {
  opacity: 0.8;
}
.createAnAccount {
  text-decoration: none;
  display: block;
  font-weight: 200;
}
.createAnAccount:hover {
  text-decoration: underline;
}
