<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>Secret Chat</title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="shortcut icon" href="/icons/sunglasses.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap" rel="stylesheet" />
  </head>
  <body>
    <nav id="chatroomNavbar">
      <div id="listIcon" title="See who's here!"></div>
      <span id="loggedIn">You are logged in as <span id="youAreLoggedInAs"><%= username %></span></span>
      <a href="/logout" id="logout" title="Logout"></a>
    </nav>

    <ul class="userlist"></ul>

    <ul id="messages"></ul>

    <form id="chatForm" enctype="multipart/form-data">
      <input id="chatInput" autocomplete="off" type="text" autofocus />
      <button type="submit" id="sendButton">Send</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/chatroom/chatroom.js" async></script>
  </body>
</html>
