<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secret Chat</title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="shortcut icon" href="/icons/sunglasses.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap" rel="stylesheet" />
  </head>
  <body>
    <section id="loginBoxContainer">
      <div id="loginBox">
        <h1 id="secretchat">Welcome to Secret Chat</h1>

        <form class="loginFormStyle" id="loginForm" action="/login" method="POST">
          <input type="text" name="username" id="usernameLogin" class="loginInput" autofocus required autocomplete="off" placeholder="Username" />
          <input type="password" name="password" id="passwordLogin" class="loginInput" required autocomplete="off" placeholder="Password" />

          <% if (error) { %>
          <p id="invalidUsernameOrPassword">Invalid username or password</p>
          <% } %>

          <button type="submit" class="loginButton">Login</button>
        </form>
        <a href="/create" class="createAnAccount">Create an account</a>
      </div>
    </section>
  </body>
</html>
